# Question 1:Assuming that we have some email addresses in the "username@companyname.com" format, please write programto print the company name of a given email address. Both user names and company names are composed of lettersonly.
Input Format:The first line of the input contains an email address.
Output Format:Print the company name in single line.
Example;Input:john@google.com
Output:google

In [24]:
lst=[]
name= input(print("enter the mail address"))
print(name)
i=name.find("@")
#print(i)
j=name.find(".com")
#print(j)
for num in range(i+1,j):
    lst.append(name[num])
print(''.join(lst))

enter the mail address
Noneranjitha@wipro.com
ranjitha@wipro.com
wipro

# Write a program that accepts a comma-separated sequence of words as input and prints the words in a commaseparated sequence after sorting them alphabetically.Input Format:
The first line of input contains words separated by the comma.
Output Format:Print the sorted words separated by the comma.
Example:
Input:without,hello,bag,world
Output:bag,hello,without,world

In [22]:
inp=input("enter the words")
items=[x for x in inp.split(',')]
print(items)
items.sort()
print(items)
print (','.join(items))

enter the wordswithout,hello,bag,world
['without', 'hello', 'bag', 'world ']
['bag', 'hello', 'without', 'world ']
bag,hello,without,world

# Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:The first line contains n-1 numbers with each number separated by a space.
Output Format:Print the missing numberExample:
nput:1 2 4 6 3 7 8
Output:5

In [40]:
lst=[1,2,4,6,3,7,8]
var=sum(lst)
#print(var)
var2=max(lst)
#print(var2)
var3=0
for i in range(1,var2+1):
    var3+=i
print("Missing number is",var3-var)

Missing number is 5

# With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:If the input list is 12 24 35 24 88 120 155 88 120 155
Then the output should be 12 24 35 88 120 155

In [41]:
mylist = [12,24,35,24,88,120,155,88,120,155]
mylist = list(dict.fromkeys(mylist))
print(mylist)

[12, 24, 35, 88, 120, 155]

# Create your own Jupyter Notebook for Sets.Reference link: https://www.w3schools.com/python/python_sets.asp

Set

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [42]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

In [43]:
print(thisset[0])

TypeError: 'set' object is not subscriptable

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [44]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

Example

Check if "banana" is present in the set:

In [46]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

Change Items:Once a set is created, you cannot change its items, but you can add new items.

Add Items

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [47]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'cherry', 'apple'}

Add multiple items to a set, using the update() method:

In [48]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'mango', 'cherry', 'grapes', 'banana', 'apple', 'orange'}

# To determine how many items a set has, use the len() method.

In [49]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

To remove an item in a set, use the remove(), or the discard() method.

In [50]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [51]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

Remove the last item by using the pop() method:

In [52]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [53]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [56]:
#The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

Join Two Sets

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [59]:
#The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c","a"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [58]:
#The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'c', 'a'}